/* Style for menu on top - navigation */


nav {
  background-color: #333;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  position: fixed;
  top: 0;
  z-index: 100;
}

ul {
  list-style: none;
  margin: 0 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 20px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

a:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a:hover {
  color: #fff;
  transform: translateY(-2px);
}


/* Style for h1 */

h1 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 1px;

}

/* Style for h2 */
h2 {
  font-size: 18.72px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #999;
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 70px;
  margin-top: 110px;
}


/* Style the paragraph elements */
p {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  width: auto;
}



/* Style for page headers- title */

.pages-header {
  grid-row: 1 / 2; /* place the page header in the first row */
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 70px;
  margin-top: 110px;
}

/* Style the table element */
table {
  border-collapse: collapse;
  margin-top: 10px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
}

table th {
  background-color: #eee;
  font-weight: bold;
}

/* Style the image elements */

img {
  border: 5px solid #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}



}
/* Style the body */
.body {  
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1200px;
  color: #333;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  grid-row: 2 / 3; /* place the body content in the second row */
}

/* Style the page with 3 columns */

.container3 {
 max-width: 1200px;
 display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(3, 1fr); /* 3 rows */
  gap: 42px; /* gap between grid items */
  margin-top: 110px;
  margin-right: 110px;
  margin-left: 110px;
  margin-bottom: 110px;
}

/* Media query for mobile screens */
@media only screen and (max-width: 600px) {
  .container3 {
    grid-template-columns: 1fr;
  }
}


/* Style the page with 2 columns */

.container2 {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* creates two columns of equal width */
  grid-gap: 20px; /* sets the gap between grid items to 20px */
}

.grid-item {
  padding: 20px;
  border: 1px solid #ccc;
  font-family: 'Roboto', sans-serif;
}


/* Style the footer */
.footer {
  text-align: center;  
  position: fixed;
  width: 100%;
  background-color: #333;
  color: #fff;
  bottom: 0;
  left: 0;
  grid-row: 3 / 4; 
  margin-top: 40px;
}

/* Style the images in pages, aligh left and right */
.image-right {
   float: right;
  margin: 0 0 10px 10px;
}

.image-left {
   float: left;
  margin: 0 0 10px 10px;
}


/* Style the image on homepage */
.responsive-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}




/* to style the form in get in touch page */ 

form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"], 
input[type="email"], 
textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 100%;
  font-size: 1.1em;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

input[type="submit"]:active {
  background-color: #4CAF50;
  transform: translateY(1px);
}

input[type="submit"]:focus {
  outline: none;
}

textarea {
  resize: none;
  height: 200px;
}





